@import "./base.css";
@import "./init.css";

body {
    background: #FAFCFF;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
/* login 居中 */
#app {
    width: 100%;
    height: 100%;
}
 